d/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}

h1, h2 {
  color: #333;
}

section {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Light Mode Styles */
body {
  background-color: #f4f4f4;
  color: #333;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.8em;
  margin-top: 20px;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

body.dark-mode h1, body.dark-mode h2 {
  color: #fff;
}

body.dark-mode button {
  background-color: #0056b3;
}

body.dark-mode button:hover {
  background-color: #003366;
}

body.dark-mode a {
  color: #4f9cff;
}

body.dark-mode a:hover {
  text-decoration: none;
}

/* Media Queries for responsive design */
@media (max-width: 768px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  section {
    padding: 10px;
  }

  button {
    width: 100%;
    padding: 12px;
  }
}
